<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.inventariotds">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:icon="@drawable/img"
        android:label="Inventario TDS"
        android:roundIcon="@drawable/img"
        android:supportsRtl="true"
        android:theme="@style/Theme.InventarioTDS">

        <!-- ✅ FileProvider necesario para compartir CSV -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.inventariotds.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.InventarioTDS">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
